<%- content_for :javascript do %>
  <%= javascript_tag "backend/spree_product_assembly" %>
<%- end %>

<%= render :partial => 'spree/admin/shared/sub_menu/product' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Parts"} %>
<div id="product_parts" data-product-slug="<%= product.slug %>">
  <%= render :partial => "parts_table", :locals => {:parts => @parts} %>
</div>

<%= form_tag('#') do %>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" id="searchtext" class="form-control" placeholder="<%= Spree.t(:search) %>">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="search_parts_button" name="button"><%=Spree.t(:search)%></button>
      </span>
    </div>
  </div>
</div>

<% end %>

<br/>
<div id="search_hits"></div>
